<div class="task-item" [ngClass]="{ completed: task.completed }">
  @if (!isEditing) {
    <input
      [id]="task.id"
      type="checkbox"
      [checked]="task.completed"
      (change)="toggleComplete()"
      class="task-checkbox"
    />
    <div class="task-details">
      <span class="task-title">{{ task.title }}</span>
      <p class="task-description">{{ task.description }}</p>
      <span *ngIf="task.expiryDate else never" class="task-expiry-date">
        Expires: {{ task.expiryDate | date : 'dd/MM/yy' }}
        <span *ngIf="getTimeRemaining() as timeRemaining">
          ({{ timeRemaining }} remaining)
        </span>
      </span>
      <ng-template #never><span class="text-dark">Expires: Never</span></ng-template>
    </div>
  } @else {
    <div class="row g-2 align-items-center m-2">
      <h3 class="text-dark">Edit task</h3>
      <div class="col-12 col-sm-6">
        <input
          [(ngModel)]="editedTitle"
          class="form-control form-control-sm p-2 custom-input"
          placeholder="Task title"
        />
      </div>
      <div class="col-12 col-sm-6">
        <input
          [(ngModel)]="editedDescription"
          class="form-control form-control-sm p-2 custom-input"
          placeholder="Description"
        />
      </div>
      <div class="col-12 col-md-6 mt-2">
        <input
          type="datetime-local"
          [(ngModel)]="editedExpiryDate"
          class="form-control form-control-sm p-2 custom-input"
        />
      </div>
      <div class="col-12 col-md-6 mt-2 d-flex justify-content-end">
        <button (click)="saveTask()" class="btn btn-sm me-2">Save</button>
        <button (click)="cancelEdit()" class="btn btn-sm">Cancel</button>
      </div>
    </div>
  }
  @if (!isEditing) {
    <button (click)="onDelete()" class="delete-button m-2">
      <i class="fas fa-trash"></i>
    </button>
    <button (click)="editTask()" class="edit-button m-2">
      <i class="fas fa-edit"></i>
    </button>
  }
</div>
