<section class="about">
  <div class="container mt-5 mb-3">
    <div class="about-content bg-dark p-4 rounded">
      <h1 class="display-4">About SkyForecast</h1>
      <hr>
      <p class="lead">
        Welcome to SkyForecast, your go-to weather application for accurate and up-to-date weather information! SkyForecast provides detailed weather forecasts, including temperature, precipitation, and wind conditions, tailored to your location. Whether you need to plan your day or track upcoming weather patterns, SkyForecast offers reliable data to help you stay prepared.
      </p>
      <p>
        Our application uses real-time data from the Weather API and advanced algorithms to deliver precise weather updates. With a user-friendly interface and intuitive design, SkyForecast ensures that you have all the information you need at your fingertips. We continuously enhance the app to include new features and improve the overall experience.
      </p>

      <h2 class="mt-4">About the Developer</h2>
      <p>
        SkyForecast was developed by a passionate web developer with a focus on creating responsive and user-centric applications. The developer is committed to leveraging the latest technologies and constantly learning to provide an optimal user experience.
      </p>
      <p>
        Connect with the developer through the following social media platforms:
      </p>

      <div class="social-links mt-3">
        <ul>
          <li>
            <a href="https://github.com/N1KITA2104" target="_blank" class="text-decoration-none">GitHub</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/nikita-apatiev-037846245/" target="_blank" class="text-decoration-none">LinkedIn</a>
          </li>
          <li>
            <a href="https://www.instagram.com/n_apatiev/" target="_blank" class="text-decoration-none">Instagram</a>
          </li>
        </ul>
      </div>

      <p class="mt-4">
        Thank you for using SkyForecast! We hope our app enhances your weather forecasting experience. For any feedback or suggestions, please reach out via our social media channels or contact page.
      </p>
    </div>
  </div>
</section>
