@font-face {
  font-family: 'Quicksand';
  src: url('/assets/fonts/quicksand.woff2') format('woff2'), 
       url('/assets/fonts/quicksand.woff') format('woff');
  font-display: swap;
}


:root {
  --main-color: rgb(255, 121, 88);
  --main-background-color: rgb(41, 41, 44);
  --main-text-color: rgb(255, 255, 255);
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  color: var(--main-text-color);
}
body {
  margin: 0;
  font-family: Quicksand, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: var(--main-background-color);
  background-image: url('/assets/background.webp');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
}

main {
  flex: 1;
}

* {
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

::selection {
  background-color: rgba(160, 118, 125, 0.7);
  color: white;
}

.bg-dark {
  background: rgba(33, 37, 41, 0.75) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.bg-danger {
  background: rgba(255, 121, 88, 0.75) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.new-btn {
  background: var(--main-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.new-btn:hover {
  color: white;
  border: 1px solid white;
}

.container {
  max-width: 1000px !important;
}

a:visited,
a:link,
a {
  color: white;
  cursor: pointer;
}

a:hover,
a:focus {
  color: var(--main-color);
}

.glassmorphic-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 100px;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.list-unstyled {
  padding: 0;
}

.list-unstyled li {
  border-bottom: 1px solid #ddd;
  padding: 16px;
  transition: all 0.2s ease-in-out;
}

.list-unstyled li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(41, 36, 33, 0.8);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #ffb380;
}

/* For Firefox */
.scrollable {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) rgba(33, 37, 41, 0.8);
}

/* For IE and Edge (Legacy) */
.scrollable {
  -ms-overflow-style: scrollbar;
}

.loading-container {
  padding: 20px;
  background: linear-gradient(
    135deg,
    rgba(255, 121, 88, 0.75),
    rgba(255, 200, 163, 0.8)
  );
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.loading-text {
  font-size: 1.2rem;
  color: var(--main-text-color);
  animation: blink 1.5s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
