.glassmorphic-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}


.list-unstyled {
  padding: 0;
}

.list-unstyled li {
  border-bottom: 1px solid #ddd;
  padding: 16px;
  transition: all .2s ease-in-out;
}

.list-unstyled li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

img {
  max-width: 50px;
}
