<div class="container d-flex align-items-center justify-content-center mt-5">
  <div>
    <img src="img/connor.webp" alt="Calculator Error" class="error-image" />
  </div>
  <div>
    <h1>404 - Oops!</h1>
    <p>
      It looks like you've reached an unavailable page. Don't worry, our
      calculator is here to assist you!
    </p>
    <p>
      Click the button below to return to the homepage and continue using our
      calculator.
    </p>
    <a href="/" class="btn btn-dark">Back to Home</a>
  </div>
</div>
