<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >
      <img
        src="favicon.svg"
        width="40"
        height="40"
        class="brand-logo d-inline-block align-top"
        alt="Brand Logo"
      />
      <span class="brand-text">SkyForecast</span>
    </a>

    <div
      *ngIf="weather$ | async as weatherData;"
      class="nav-item d-flex align-items-center"
    >
      <p class="text-light mb-0">
        {{ weatherData.location.name }} {{ weatherData.current.temp_c }}°C
      </p>
      <img
        [src]="weatherData.current.condition.icon"
        width="40"
        height="40"
        alt="Weather Icon"
        class="ms-auto"
      />
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex">
        <!--Here links-->
      </ul>
      <form class="d-flex align-items-center ms-auto">
        <input
          class="form-control me-0"
          type="search"
          placeholder="Search location"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
