$main_color: var(--main-color);

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: $main_color;
}

.navbar-brand img {
  margin: 0 10px;
}

.form-control {
  border-radius: 0;
  border-bottom-left-radius: 6px;
  border-color: $main_color;
}


.btn, .btn:active {
  border-radius: 0;
  border-left: 0;
  border-bottom-right-radius: 6px;
  color: $main_color;
  border-color: $main_color;
}

.btn:hover, .btn:focus {
  background-color: $main_color;
  color: white;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: none;
}

.navbar-toggler {
  font-size: 18px;
  border-radius: 0;
  padding: 4px;
  border-color: $main_color;
  border-top-right-radius: 6px;
}

.navbar-toggler:hover {
  background-color: $main_color;
}

.navbar-toggler:focus {
  box-shadow: none;
}
