.geolocation-status {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  transition: opacity 0.5s ease-out;
  z-index: 999;

  &.enabled {
    background-color: #4caf50; /* Зелене повідомлення */
  }

  &.disabled {
    background-color: #f44336; /* Червоне повідомлення */
  }
}
