.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: var(--main-background-color);
  background-image: url('/assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
}

main {
  flex: 1;
}